
.tagline 
{
    background-image: url("https://c.wallhere.com/photos/0a/5a/Laravel_simple_code_programming_PHP_low_poly_minimalism_colorful-78616.png!d");
    background-position-x: 100%;
    background-position-y: 80%;
}